[user]
	name = Akira Uchihara
	email = akira.uchihara@every.tv
[color]
#	diff = auto
	diff = always
	status = auto
	branch = auto
[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[merge]
	tool = vimdiff
[core]
# 	pager = less -R
# 	pager = sh l.sh
#[mergetool "vimdiff"]
#	cmd = vim -d "$LOCAL" "$MERGED" "$REMOTE"
#	trustExitCode = true
  quotepath = false
[diff]
  algorithm = histogram
  compactionHeuristic = true
  renames = true
#  external = p4diff
#driver for merging XCode project files
[merge "mergepbx"]
  name = XCode project files merger
  driver = mergepbx %O %A %B
[credential]
	helper = osxkeychain
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
  branch = cat
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
